#contenedorBotones {
  margin-top: 3%;
  justify-content: center;
  display: flex;
}

.tarea {
  background-color: lightblue;
  border: 2px solid blue;
  margin-top: 2%;
}

#contenedorTareas {
  margin-top: 2%;
  margin-bottom: 2%;
}

.textoTareas {
  font-size: 20px;
  text-align: center;
  margin-top: 1%;
}

#formularioTarea {
  justify-content: center;
  display: flex;
  margin: 3%;
}

.botonAccion {
  text-align: center;
  padding: 2%;
}

.botonBorrar {
  margin-bottom: 1%;
  background-color: red;
}

.botonBorrar:hover {
  background-color: rgb(112, 3, 3);
}
